DAILY_SAMPLE_ROOM_URL=https://yourdomain.daily.co/yourroom # (for joining the bot to the same room repeatedly for local dev)
DAILY_API_KEY=345c6
OPENAI_API_KEY=sk-sR
CARTESIA_API_KEY=82
DUOHUB_API_KEY=cf00